@{
    ViewData["Title"] = "Game";
}

<div class="container mt-5">
    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary mb-3">Back</a>
    <h1>You have been kicked or the game server has been stopped</h1>
</div>