@{
    ViewData["Title"] = "Main page";
}

<div class="container mt-5 d-flex justify-content-center">
    <a href="@Url.Action("JoinGame", "Home")" class="btn btn-success m-2">Join Game</a>
    <a href="@Url.Action("NickChange", "Home")" class="btn btn-info m-2">Change nick</a>
    <a href="@Url.Action("Settings", "Home")" class="btn btn-dark m-2">Settings</a>
</div>



